.button {
  border-radius: 8px;
  padding: 8px 10px;
  height: 35px;
  width: 100%;
}

.primary {
  background-color: var(--background-color-accent-default-light);
  font-size: var(--font-ui-size-medium-bold);
  color: var(--font-color-inverse-light);
}

.secondary {
  background-color: var(--background-color-neutral-default-light);
  font-size: var(--font-ui-size-medium-bold);
  color: var(--font-color-secondary-light);
  border: 2px solid var(--border-color-app-light);
}

.tertiary {
  background-color: transparent;
  border: none;
  font-size: var(--font-ui-size-medium-bold);
  color: var(--font-color-primary-light);
}

button:disabled,
button[disabled] {
  border: 2px solid var(--border-color-neutral-light);
  background-color: var(--background-color-neutral-default-light);
  color: var(--font-color-secondary-light);
  opacity: 0.6;
}

button:disabled:hover,
button[disabled]:hover,
button:disabled:active,
button[disabled]:active {
  border-color: var(--border-color-neutral-light);
  background-color: var(--background-color-neutral-default-light);
}

.button__icon-start,
.button__icon-end {
  margin-top: -2px;
  display: inline-block;
}

.button__label {
  margin: 0 5px;
  vertical-align: top;
}

button:focus,
button:focus-visible {
  outline: none;
}

.primary:hover {
  background-color: var(--background-color-accent-hover-light);
}

.primary:active {
  background-color: var(--background-color-accent-active-light);
}

.secondary:hover {
  border: 2px solid var(--border-color-app-light);
  background-color: var(--background-color-neutral-hover-light);
  outline: none;
}

.secondary:active,
.tertiary:active {
  border: 2px solid var(--border-color-app-light);
  background-color: var(--background-color-neutral-active-light);
}

.tertiary:hover {
  border: 2px solid var(--border-color-app-light);
  outline: none;
}
