.checkboxgroup__container {
  border: none;
  padding-block-start: 0;
}

.checkboxgroup__title {
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-title-size-medium);
  padding-inline-start: 0;
}

.checkboxgroup__info-text {
  font-size: var(--font-ui-size-small-regular);
  margin-bottom: 16px;
  display: block;
}

.checkboxgroup__error-message {
  font-size: var(--font-ui-size-small-regular);
}

.close-icon {
  margin-right: 5px;
  margin-bottom: -6px;
}

.required:after {
  content: " *";
  color: var(--font-color-error-light);
}
