.checkboxgroup__container {
  border: none;
  padding-block-start: 0;
  padding-inline-start: 0;
}

.checkboxgroup__title {
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-title-size-medium);
  padding-inline-start: 0;
  color: var(--font-color-primary-light);
}

.checkboxgroup__title.dark,
.checkboxgroup__info-text.dark {
  color: var(--font-color-primary-dark);
}

.checkboxgroup__info-text {
  font-size: var(--font-ui-size-small-regular);
  color: var(--font-color-primary-light);
  margin-bottom: 16px;
  display: block;
}

.checkboxgroup__error-message {
  font-size: var(--font-ui-size-small-regular);
}

.required:after {
  content: " *";
  color: var(--font-color-error-light);
}
