.header__container {
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
  border-radius: 10px 10px 0 0;
}

.header__container.light {
  border-bottom: 1.5px solid var(--border-color-app-light);
  background-color: var(--background-color-neutral-default-light);
}

.header__container.dark {
  border-bottom: 1.5px solid var(--border-color-app-dark);
  background-color: var(--background-color-neutral-default-dark);
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.header__company-name {
  font-size: var(--font-title-size-large);
  font-weight: var(--font-weight-heavy);
}

.header__theme-button {
  margin: auto 0;
}
