.form__container {
  width: 55%;
  margin: 0 auto;
  max-width: 450px;
  min-width: 350px;
  padding: 20px 25px;
  border-radius: 10px;
}

.form__container.light {
  background-color: var(--background-color-neutral-default-light);
  box-shadow: 0px 10px 10px 5px rgba(192, 192, 192, 0.297);
}

.form__container.dark {
  background-color: var(--background-color-neutral-default-dark);
  box-shadow: 0;
}

.form__title,
.form__inputs-container {
  margin-bottom: 30px;
}

.form__checkboxGroup-container {
  margin-bottom: 20px;
}

.form__title h1 {
  font-size: var(--font-display-size-medium);
  margin-bottom: 8px;
}

.form__title p {
  font-size: var(--font-title-size-small);
}

.form__or-text {
  display: block;
  text-align: center;
  margin: 8px 0;
  font-size: var(--font-ui-size-small-regular);
}
