#root {
  width: 100%;
  background-color: var(--color-neutral-30);
}

.main-app__container {
  width: 100%;
  background-color: var(--color-neutral-30);
}

.app_container {
  width: 90%;
  margin: 0 auto;
}
